@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-Bold.eot");
  src: url("../fonts/CircularStd/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd/CircularStd-Bold.otf") format("otf"), url("../fonts/CircularStd/CircularStd-Bold.svg#CircularStd") format("svg"), url("../fonts/CircularStd/CircularStd-Bold.ttf") format("truetype"), url("../fonts/CircularStd/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd/CircularStd-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd/CircularStd-Black.eot");
  src: url("../fonts/CircularStd/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd/CircularStd-Black.otf") format("otf"), url("../fonts/CircularStd/CircularStd-Black.svg#CircularStd") format("svg"), url("../fonts/CircularStd/CircularStd-Black.ttf") format("truetype"), url("../fonts/CircularStd/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd/CircularStd-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  padding: 0;
}

.main {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fff;
  color: #191825;
  font-family: "Inter", sans-serif;
}
.main *,
.main *::after,
.main *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main img {
  vertical-align: middle;
}
.main ::selection {
  background-color: #5d50c6;
  color: #fff;
}

.main body {
  font-size: 18px;
}
.main a {
  text-decoration: none;
}
.main a:hover, .main a:focus {
  text-decoration: none;
}

b {
  font-weight: 700;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}

.btn {
  height: 49px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
  border-radius: 100px;
  font-family: "CircularStd", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--primary {
  color: #fff;
  background-color: #5d50c6;
  border: 1px solid #5d50c6;
}
.btn--primary:hover {
  color: #5d50c6;
  background-color: #fff;
}

.section-title {
  margin-bottom: 16px;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: #f85e9f;
  font-family: "CircularStd", sans-serif;
}

.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  font-family: "CircularStd", sans-serif;
}

.wrap {
  width: 100%;
  max-width: 1110px;
  margin: auto;
}

.swiper-pagination {
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 32px;
}
.swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: rgba(25, 24, 37, 0.05);
}
.swiper-pagination-bullet-active {
  background-color: #f85e9f;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.logo-text {
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
  font-family: "CircularStd", sans-serif;
  color: #191825;
  transition: 0.3s color;
}
.logo-text:hover, .logo-text:focus {
  color: #5d50c6;
}

.topnav {
  display: flex;
  align-items: center;
  gap: 0 64px;
}
.topnav__link {
  color: rgba(25, 24, 37, 0.5);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  transition: 0.3s color;
  font-family: "CircularStd", sans-serif;
}
.topnav__link:hover, .topnav__link:focus, .topnav__link.active {
  color: #222831;
}

.control-btn {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.control-btn:not(.swiper-button-disabled):hover {
  background-color: #5d50c6;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08)) drop-shadow(0px 7px 16px rgba(0, 0, 0, 0.07)) drop-shadow(0px 29px 29px rgba(0, 0, 0, 0.06)) drop-shadow(0px 65px 39px rgba(0, 0, 0, 0.04)) drop-shadow(0px 116px 46px rgba(0, 0, 0, 0.01)) drop-shadow(0px 181px 51px rgba(0, 0, 0, 0));
}
.control-btn:not(.swiper-button-disabled):hover svg {
  fill: #fff;
}
.control-btn--prev svg {
  transform: rotate(180deg);
}

.swiper-button-disabled {
  cursor: default;
}
.swiper-button-disabled svg {
  opacity: 0.3;
}

.rating {
  display: grid;
  grid-template-columns: repeat(5, 32px);
  gap: 0 16px;
  margin: 0 auto;
  width: max-content;
}
.rating__star {
  width: 32px;
  height: 32px;
  display: block;
  background: url("../img/star-large.svg") no-repeat;
}

.customer {
  padding-bottom: 64px;
  font-family: "CircularStd", sans-serif;
}
.customer__img {
  margin-bottom: 64px;
}
.customer__details {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
  font-weight: 700;
}
.customer__name {
  font-size: 28px;
  color: #ff5722;
}
.customer__position {
  font-size: 23px;
}
.customer__position::before {
  margin-right: 5px;
  content: "/";
}
.customer__desc {
  color: rgba(25, 24, 37, 0.75);
  text-align: center;
  font-size: 23px;
  font-weight: 450;
  line-height: 160%;
}
.customer__rating {
  margin-bottom: 32px;
}

.social {
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.social__item {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
}
.social__item svg {
  fill: #5d50c6;
  transition: 0.3s fill;
}
.social__item:hover svg {
  fill: #f85e9f;
}

.header {
  padding: 32px;
}
.header .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-btn-box {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.header .btn:not(.btn--primary):hover {
  background-color: #5d50c6;
  color: #fff;
}

.brands {
  position: relative;
  padding: 64px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 80px;
}
.brands::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 170px;
  transform: translate(-127px, -55px);
  display: block;
  background: url("../img/bg-elements/partners-bg.svg") no-repeat transparent;
  content: "";
}
.brands::after {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 500px;
  display: block;
  border-radius: 500px;
  opacity: 0.5;
  background: #facd49;
  filter: blur(250px);
  content: "";
  transform: translate(593px, 233px);
}

.primary-section {
  overflow-x: clip;
}
.primary-section-content {
  position: relative;
  padding: 140px 0 70px;
  display: flex;
  align-items: flex-start;
  gap: 0 90px;
}
.primary-section-content::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  display: block;
  border-radius: 500px;
  opacity: 0.5;
  background: #ff5722;
  filter: blur(250px);
  content: "";
  transform: translate(-521px, -336px);
}
.primary-section__text {
  width: 100%;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 41px 0;
}
.primary-section__title {
  font-family: "CircularStd", sans-serif;
  font-size: 69px;
  font-weight: 700;
  line-height: 120%;
  color: #000;
}
.primary-section__title span {
  color: #f85e9f;
}
.primary-section__desc {
  color: rgba(25, 24, 37, 0.5);
  font-size: 18px;
  line-height: 160%;
}
.primary-section-btn-box {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.primary-section .btn--demo {
  border: 1px solid #eee;
}
.primary-section .btn--demo svg {
  fill: #5d50c6;
  transition: 0.3s fill;
}
.primary-section .btn--demo:hover {
  background-color: #5d50c6;
  border-color: #5d50c6;
  color: #fff;
}
.primary-section .btn--demo:hover svg {
  fill: #fff;
}
.primary-section .btn--explore {
  background-color: #fff;
}
.primary-section .btn--explore svg {
  fill: #f85e9f;
  transition: 0.3s fill;
}
.primary-section .btn--explore:hover {
  background-color: #f85e9f;
  color: #fff;
}
.primary-section .btn--explore:hover svg {
  fill: #fff;
}
.primary-section .btn--places {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  transform: translate(92px, -169px);
}
.primary-section .btn--places svg {
  fill: #facd49;
  transition: 0.3s fill;
}
.primary-section .btn--places:hover {
  background-color: #facd49;
  color: #fff;
}
.primary-section .btn--places:hover svg {
  fill: #fff;
}
.primary-section .btn--primary {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09), 0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01), 0px 126px 35px 0px rgba(0, 0, 0, 0);
}
.primary-section .btn-icon {
  position: absolute;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 43px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 120px 34px 0px rgba(0, 0, 0, 0);
  transition: 0.3s box-shadow;
  cursor: pointer;
}
.primary-section .btn-icon svg rect {
  transition: 0.3s fill;
}
.primary-section .btn-icon:hover svg rect {
  fill: #5d50c6;
}
.primary-section .btn--telegramm {
  top: 0;
  left: 0;
  transform: translate(-32px, 262px);
}
.primary-section .btn--telegramm svg {
  fill: #5d50c6;
}
.primary-section .btn--contact {
  bottom: 0;
  right: 0;
  transform: translateX(-129px);
}
.primary-section__gallery {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.primary-section__gallery::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 772px;
  height: 288px;
  background: url("../img/map.svg") no-repeat top;
  content: "";
  display: block;
  transform: translate(106px, -75px);
}
.primary-section__img {
  border-radius: 32px;
  overflow: hidden;
}
.primary-section__img:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}

.destination {
  padding-bottom: 128px;
}
.destination-header {
  padding: 64px 0;
  display: grid;
  grid-template-columns: 1fr 230px;
  gap: 0 20px;
}
.destination-header__box {
  display: block;
}
.destination-slider {
  position: relative;
}
.destination-slider-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 5px 5px;
}
.destination-slider__item {
  overflow: hidden;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05);
}
.destination-slider__head {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 80px;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  font-family: "CircularStd", sans-serif;
}
.destination-slider::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 107px;
  height: 107px;
  display: block;
  background: url("../img/bg-elements/destination-bg.svg") no-repeat center transparent;
  content: "";
  transform: translate(130px, -35px);
}
.destination-controls {
  display: flex;
  align-items: center;
  gap: 0 32px;
}
.destination__desc {
  padding: 32px;
}
.destination__img {
  width: 100%;
  height: 350px;
  display: block;
  overflow: hidden;
  border-radius: 32px 32px 0 0;
}
.destination__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s transform;
}
.destination__img:hover img {
  transform: scale(1.1);
}
.destination__title {
  color: #191825;
  transition: 0.3s color;
}
.destination__title:hover {
  color: #5d50c6;
}
.destination__price {
  color: #f85e9f;
}
.destination__city {
  margin-bottom: 34px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.75);
}
.destination__grade {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-size: 23px;
  font-weight: 700;
  line-height: 1;
  color: #ff5722;
}
.destination__grade:after {
  width: 24px;
  height: 24px;
  display: inline-flex;
  content: "";
  background-image: url("../img/star-fill.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services {
  padding: 64px 0;
}
.services-container {
  display: flex;
  align-items: center;
}
.services-heading {
  flex-shrink: 0;
  width: 445px;
}
.services-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
}
.services-item {
  width: 350px;
  padding: 64px;
  text-align: center;
  border-radius: 32px;
  background: #fff;
}
.services-item:not(:first-child) {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 41px 89px 0px rgba(0, 0, 0, 0.1);
}
.services-title {
  margin-top: 64px;
  margin-bottom: 32px;
  font-size: 28px;
  color: #191825;
  font-weight: 700;
  line-height: 120%;
  font-family: "CircularStd", sans-serif;
}
.services-desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.5);
}

.point {
  padding-bottom: 110px;
}
.point-wrap {
  display: grid;
  grid-template-columns: 1fr 445px;
  gap: 0 43px;
}
.point-box {
  position: relative;
}
.point-box::before {
  position: absolute;
  z-index: -1;
  bottom: 17px;
  left: 0;
  width: 560px;
  height: 550px;
  border-radius: 0px 500px 500px 0px;
  background: #facd49;
  content: "";
}
.point-box::after {
  position: absolute;
  z-index: -1;
  bottom: 17px;
  left: 0;
  width: calc(50vw - 555px);
  height: 550px;
  background: #facd49;
  content: "";
  transform: translateX(-100%);
}
.point-container {
  position: relative;
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.point__desc {
  margin-top: 32px;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.75);
}
.point-img {
  position: relative;
  width: 645px;
  height: 696px;
}
.point-img::before {
  position: absolute;
  z-index: 1;
  top: 105px;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(281deg, #5d50c6 7.11%, #f85e9f 93.54%);
  filter: blur(2px);
  border-radius: 50%;
  content: "";
}
.point-img::after {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 110px;
  width: 96px;
  height: 96px;
  background: linear-gradient(281deg, #5d50c6 7.11%, #f85e9f 93.54%);
  filter: blur(2px);
  border-radius: 50%;
  content: "";
}
.point-img img {
  transform: translateX(-51px);
}
.point-sphere {
  position: absolute;
  z-index: 1;
  display: block;
  border-radius: 50%;
}
.point-sphere--y {
  top: 200px;
  right: 16px;
  width: 40px;
  height: 40px;
  background-color: #facd49;
  filter: blur(2px);
}
.point-sphere--ter-small {
  top: 299px;
  right: 201px;
  width: 16px;
  height: 16px;
  background-color: #ff5722;
  filter: blur(2px);
}
.point-sphere--ter-large {
  bottom: 205px;
  right: 125px;
  width: 32px;
  height: 32px;
  background-color: #ff5722;
  filter: blur(2px);
}
.point-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0;
  border-radius: 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
}
.point__data {
  color: #ff5722;
  font-family: "CircularStd", sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
}
.point__label {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #191825;
}
.point .btn--discount {
  position: absolute;
  z-index: 1;
  top: 131px;
  right: 0;
  width: 302px;
  height: 72px;
  font-size: 23px;
  background-color: #fff;
  transition: 0.3s all;
}
.point .btn--discount svg {
  fill: #ff5722;
  transition: 0.3s fill;
}
.point .btn--discount:hover, .point .btn--discount:focus {
  background-color: #ff5722;
  color: #fff;
}
.point .btn--discount:hover svg, .point .btn--discount:focus svg {
  fill: #fff;
}
.point .btn--star {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(104px, -24px);
}
.point .btn--star svg {
  fill: #facd49;
  transition: 0.3s fill;
}
.point .btn--star:hover svg, .point .btn--star:focus svg {
  fill: #ff5722;
}

.features {
  padding-bottom: 72px;
}
.features-wrap {
  position: relative;
  display: grid;
  grid-template-columns: 540px 1fr;
  gap: 0 42px;
}
.features-wrap:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 448px;
  height: 272px;
  background: url("../img/bg-elements/features-bg.svg") no-repeat;
  content: "";
  transform: translateX(150px);
}
.features-details {
  margin: 32px 0 64px;
  color: rgba(25, 24, 37, 0.5);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}
.features-item {
  padding: 32px;
  border-radius: 32px;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 0 32px;
}
.features-item:nth-child(2n) {
  border: 1px solid rgba(25, 24, 37, 0.1);
}
.features-item:first-child .features__icon {
  background-color: #ff5722;
}
.features-item:nth-child(2) .features__icon {
  background-color: #facd49;
}
.features-item:nth-child(3) .features__icon {
  background-color: #f85e9f;
}
.features__icon {
  grid-column: 1/1;
  grid-row: 1/3;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
}
.features__title {
  margin-bottom: 8px;
  align-self: flex-end;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #191825;
  font-family: "CircularStd", sans-serif;
}
.features__desc {
  color: rgba(25, 24, 37, 0.5);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.features-gallery {
  padding-top: 73px;
  position: relative;
}
.features__img {
  border-radius: 500px;
  overflow: hidden;
}
.features__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.features__img:first-child {
  width: 443px;
  height: 665px;
}
.features__img:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 351px;
  height: 496px;
  border: 24px solid #fff;
  transform: translate(24px, 85px);
}
.features .btn--features {
  position: absolute;
  top: 160px;
  right: 0;
  height: 72px;
  width: 307px;
  font-size: 23px;
  line-height: 120%;
  background-color: #fff;
  transition: all 0.3s;
}
.features .btn--features svg {
  fill: #ff5722;
  transition: fill 0.3s;
}
.features .btn--features:hover {
  background-color: #ff5722;
  color: #fff;
}
.features .btn--features:hover svg {
  fill: #fff;
}

.testimonials {
  position: relative;
  overflow-x: clip;
  padding-bottom: 128px;
}
.testimonials-wrap {
  position: relative;
  text-align: center;
}
.testimonials-wrap::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 2381px;
  height: 1256px;
  display: block;
  background: url("../img/bg-elements/testimonials_bg.svg") no-repeat;
  content: "";
  opacity: 0.1;
  transform: translate(-726px, -281px);
}
.testimonials-content {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
}
.testimonials-slider {
  overflow: hidden;
}
.testimonials__item {
  width: 100%;
  min-height: 300px;
  background-color: #5d50c6;
}

.subscribe {
  padding: 0 0 128px;
}
.subscribe-wrap {
  position: relative;
  padding: 128px 64px;
  border-radius: 32px;
  background: rgba(250, 205, 73, 0.08);
}
.subscribe-wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 184px;
  height: 177px;
  display: block;
  content: "";
  background: url("../img/bg-elements/subscribe-bg.svg") no-repeat transparent;
  transform: translate(-43px, -59px);
}
.subscribe-heading {
  text-align: center;
}
.subscribe .section-title {
  margin-bottom: 32px;
}
.subscribe .title {
  margin-bottom: 64px;
  font-size: 56px;
}
.subscribe__form {
  display: flex;
  align-items: center;
  gap: 0 64px;
}
.subscribe__inputbox {
  flex-grow: 1;
  height: 96px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  gap: 0 16px;
  border-radius: 32px;
  border: none;
  background: #fff;
}
.subscribe__inputbox::before {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/icons/message.svg") no-repeat transparent;
  content: "";
}
.subscribe__input {
  width: 100%;
  padding: 32px 0;
  border: none;
  background: #fff;
  outline: none;
  font-family: "CircularStd", sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  color: rgba(25, 24, 37, 0.75);
}
.subscribe .btn {
  width: 235px;
  height: 96px;
  border-radius: 32px;
}

.footer {
  width: 100%;
  padding: 0 0 86px;
  overflow-x: clip;
}
.footer-wrap {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0 120px;
}
.footer-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 332px;
  height: 352px;
  display: block;
  content: "";
  background: url("../img/bg-elements/footer-bg.svg") no-repeat transparent;
  transform: translate(382px, -302px);
}
.footer-box {
  min-width: max-content;
}
.footer-box:first-child {
  min-width: 310px;
}
.footer-box:last-child {
  min-width: 280px;
}
.footer__title {
  margin-bottom: 32px;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  color: #191825;
  font-family: "CircularStd", sans-serif;
}
.footer__desc {
  margin: 32px 0 64px;
  color: rgba(25, 24, 37, 0.5);
  font-size: 23px;
  line-height: 160%;
}
.footer__contact {
  margin-bottom: 36px;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.75);
  transition: 0.3s color;
}
.footer__contact:hover {
  color: #f85e9f;
}
.footer__adress {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: rgba(25, 24, 37, 0.75);
}
.footer-nav__link {
  display: block;
  color: rgba(25, 24, 37, 0.75);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  transition: 0.3s color;
}
.footer-nav__link:hover, .footer-nav__link:focus {
  color: #f85e9f;
}
.footer-nav__link:not(:last-child) {
  margin-bottom: 32px;
}/*# sourceMappingURL=main.css.map */