@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';
@import 'base/swiper-fix';

@import 'components/logo';
@import 'components/topnav';
@import 'components/control';
@import 'components/rating';
@import 'components/customer';
@import 'components/social';

@import 'layout/header';
@import 'layout/brands';
@import 'layout/primary-section';
@import 'layout/destination';
@import 'layout/services';
@import 'layout/point';
@import 'layout/features';
@import 'layout/testimonials';
@import 'layout/subscribe';
@import 'layout/footer';
