.footer {
  width: 100%;
  padding: 0 0 86px;
  overflow-x: clip;

  &-wrap {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0 120px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      width: 332px;
      height: 352px;
      display: block;
      content: '';
      background: url('../img/bg-elements/footer-bg.svg') no-repeat transparent;
      transform: translate(382px, -302px);
    }
  }

  &-box {
    min-width: max-content;

    &:first-child {
      min-width: 310px;
    }

    &:last-child {
      min-width: 280px;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    color: $text;
    font-family: $SecondaryTxt;
  }

  &__desc {
    margin: 32px 0 64px;
    color: rgba($text, 0.5);
    font-size: 23px;
    line-height: 160%;
  }

  &__contact {
    margin-bottom: 36px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: rgba($text, 0.75);
    transition: 0.3s color;

    &:hover {
      color: $secondary;
    }
  }

  &__adress {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: rgba($text, 0.75);
  }

  &-nav {
    &__link {
      display: block;
      color: rgba($text, 0.75);
      font-family: $PrimaryTxt;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      transition: 0.3s color;

      &:hover,
      &:focus {
        color: $secondary;
      }

      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
}
