.testimonials {
  position: relative;
  overflow-x: clip;
  padding-bottom: 128px;

  &-wrap {
    position: relative;
    text-align: center;

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 2381px;
      height: 1256px;
      display: block;
      background: url('../img/bg-elements/testimonials_bg.svg') no-repeat;
      content: '';
      opacity: 0.1;
      transform: translate(-726px, -281px);
    }
  }

  &-content {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
  }

  &-slider {
    overflow: hidden;
  }

  &__item {
    width: 100%;
    min-height: 300px;
    background-color: $primary;
  }
}
