.customer {
  padding-bottom: 64px;
  font-family: $SecondaryTxt;

  &__img {
    margin-bottom: 64px;
  }

  &__details {
    width: 100%;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
    font-weight: 700;
  }

  &__name {
    font-size: 28px;
    color: $tertiary;
  }

  &__position {
    font-size: 23px;
    &::before {
      margin-right: 5px;
      content: '/';
    }
  }

  &__desc {
    color: rgba($text, 0.75);
    text-align: center;
    font-size: 23px;
    font-weight: 450;
    line-height: 160%;
  }

  &__rating {
    margin-bottom: 32px;
  }
}
