@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd/CircularStd-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd/CircularStd-Bold.otf') format('otf'),
    url('../fonts/CircularStd/CircularStd-Bold.svg#CircularStd') format('svg'),
    url('../fonts/CircularStd/CircularStd-Bold.ttf') format('truetype'),
    url('../fonts/CircularStd/CircularStd-Bold.woff') format('woff'),
    url('../fonts/CircularStd/CircularStd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd/CircularStd-Black.eot');
  src: url('../fonts/CircularStd/CircularStd-Black.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/CircularStd/CircularStd-Black.otf') format('otf'),
    url('../fonts/CircularStd/CircularStd-Black.svg#CircularStd') format('svg'),
    url('../fonts/CircularStd/CircularStd-Black.ttf') format('truetype'),
    url('../fonts/CircularStd/CircularStd-Black.woff') format('woff'),
    url('../fonts/CircularStd/CircularStd-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
}

.main {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $white;
  color: $text;
  font-family: $PrimaryTxt;

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
  }

  ::selection {
    background-color: $primary;
    color: $white;
  }
}
