.swiper {
  &-pagination {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 32px;

    &-bullet {
      width: 24px;
      height: 24px;
      opacity: 1;
      background-color: rgba($text, 0.05);

      &-active {
        background-color: $secondary;
      }
    }
  }
}
