.main {
  body {
    font-size: 18px;
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

b {
  font-weight: 700;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
}

.btn {
  height: 49px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
  border-radius: 100px;
  font-family: $SecondaryTxt;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;

  &--primary {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;

    &:hover {
      color: $primary;
      background-color: $white;
    }
  }
}

.section-title {
  margin-bottom: 16px;
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
  color: $secondary;
  font-family: $SecondaryTxt;
}

.title {
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
  font-family: $SecondaryTxt;
}
