// COLORS
$white: #fff;
$black: #000;

$text: #191825;

$primary: #5d50c6;
$secondary: #f85e9f;
$tertiary: #ff5722;

// FONTS
$PrimaryTxt: 'Inter', sans-serif;
$SecondaryTxt: 'CircularStd', sans-serif;
